* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: lighter;
}

.navbar {
  background: #f8edab;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: auto;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: vh;
  z-index: 1;
  width: vw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px 50px;
}

#navbar_logo {
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: 20px 20px;
  margin: auto;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 15px;
}

.navbar_links {
  color: #2c2828;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

/* footer */
.footer__container {
  background-color: #f8edab;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
}

.footer__link--items > h2 {
  color: #2c2828;
}

.footer__link--items a {
  color: #2c2828;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #2c2828;
  transition: 0.3s ease-out;
}

.social__icon--link {
  color: #2c2828;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  padding: 50px;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #2c2828;
  padding: 10px;
}

#foot-logo {
  padding: 5px 25px;
  text-align: left;
}

@media screen and (max-width: 820) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website_rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

.main__container,
#resources {
  padding: 25px;
  width: vw;
  max-width: 900px;
  margin: auto;
}

#main__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 500px;
}

.main__container--image {
  width: 250px;
  float: left;
}
.main__container--text {
  display: inline;
}

h1,
h3 {
  font-family: "Limelight";
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.list {
  padding: 15px 20px;
}

.categ {
  font-weight: bold;
}

.cars1 {
  width: vw;
}
